@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";

:root {
  --text-icon: #000000;
}

html.dark {
  --text-icon: #ffffff;
}

html, body {
  background-color: #fff;
  color: #111827; /* Equivalent de text-gray-900 */
}

html.dark, body.dark {
  background-color: #000;
  color: #f9fafb; /* Equivalent de text-gray-100 */
}
